<h2>Click icon to grant access</h2>
<table>
	<tr>
		<td>
         <%= link_to (image_tag 'google_oauth2_64.png'), url_for('/auth/google_oauth2')%>
        </td>
		<td><b>Google Documents</b></td>
    </tr>
</table>