<h1>File saved successfully</h1>
<table>
	<tr><td><b>Filename</b></td>
		<td></td>
		<td><b>URL</b></td></tr>
  <tr>	
    <td><%= @filename %></td>
    <td></td>
    <td> <%= @url %></td>
</tr>
</table>